.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 20px;
  width: 200%;
  .card{
    background-color: rgba(63, 63, 63, 0.363);
  }
 
}
.card{ 
  width: 30%;
  margin-top: 30px;
  transition: flex 0.3s;
  flex: 1;
  text-align: center;
}

.service-card {
  margin-top: 30px;
  margin-left: 140px;
  flex: 1;
  .card-service{
    background-color:  rgba(63, 63, 63, 0.363);
  }
  .cardMedia{
    margin-bottom: 20px;
  }
}

